.application {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 100%;
    max-width: 540px;
  }

  &__title {
    margin-bottom: calc($ui-step * 9);
  }

  &__text {
    margin-bottom: calc($ui-step * 6);
  }

  &__list-link {
    display: flex;
  }

  &__item-link {
    &:not(:last-child) {
      margin-right: calc($ui-step * 6);
    }
  }

  &__link {
    height: 40px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: border-radius $transition-time, box-shadow $transition-time;

    &--apple {
      width: 120px;
      background-image: url('../images/icons/icon-apple.svg');
    }

    &--google {
      width: 135px;
      background-image: url('../images/icons/icon-google.svg');
    }

    &:focus:not(:active) {
      border-radius: 7px;
      box-shadow: 0 0 0 2px $color-pseudo-border;
    }
  }

  &__img {
    width: 570px;
    height: 380px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}