.features {
  &__inner {
    min-height: 585px;
    margin: 0 calc($ui-step * 14);
    display: flex;
    align-items: center;
    background-position: left center;
    background-size: 440px 585px;
    background-repeat: no-repeat;
  }

  &__content {
    width: 100%;
    max-width: 470px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: calc($ui-step * 6);
  }

  &__text {
    margin-bottom: calc($ui-step * 6);
  }

  &__list-benefits {
    margin-bottom: calc($ui-step * 6);
  }

  &__item-benefits {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color: $color-secondary;

    &:not(:last-child) {
      margin-bottom: calc($ui-step * 3);
    }

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      margin-right: calc($ui-step * 6);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--timer::before {
      background-image: url('../images/icons/icon-timer.svg');
    }

    &--courier::before {
      background-image: url('../images/icons/icon-courier.svg');
    }

    &--cafe::before {
      background-image: url('../images/icons/icon-cafe.svg');
    }
  }

  &__text-benefits {
    flex: 1 1 min-content;
  }
}