.footer {
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc($ui-step * 12);

    @include desktop-small {
      margin-bottom: calc($ui-step * 8);
    }
  }

  &__subscribe {
    width: 200px;
    margin-right: calc($ui-step * 14);

    @include desktop-small {
      margin-bottom: calc($ui-step * 6);
    }
  }

  &__logo {
    margin-bottom: calc($ui-step * 6);
    display: block;
  }

  &__form {
    font-size: 14px;
    line-height: 1.3;
  }

  &__form-input {
    width: 100%;
    padding: 13px 15px;
    margin-bottom: calc($ui-step * 2);
    border: 1px solid $color-tertiary;
    border-radius: 5px;
    background-color: $color-neutral-lt;
    transition: box-shadow $transition-time, color $transition-time;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus:not(:active) {
      box-shadow: 0 0 0 2px $color-pseudo-border;
    }

    &:hover::placeholder {
      color: $color-secondary;
    }
  }

  &__form-btn {
    width: 100%;
    padding: 13px 38px;
    border-radius: 5px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-icon {
    margin-right: calc($ui-step * 3);
  }

  &__list-nav {
    margin-right: calc($ui-step * 14);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include desktop-small {
      margin-right: 0;
      grid-template-columns: repeat(4, auto);
      order: 2;
      flex-basis: 100%;
    }

    @include tablet-small {
      grid-template-columns: repeat(2, auto);
    }

    @include mobile {
      display: block;
    }
  }

  &__item-nav {
    margin-bottom: calc($ui-step * 4);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;

    @include tablet-small {
      margin-bottom: 0;
      padding: 10px 0;
    }
  }

  &__link-nav {
    width: 100%;
  }

  &__address {
    @include desktop-small {
      margin-bottom: calc($ui-step * 6);
    }

    @include mobile {
      flex-basis: 100%;
    }
  }

  &__copyright {
    border: 1px solid rgba($color-tertiary, 0.2);
  }

  &__copyright-text {
    padding: 30px 0;
    display: block;
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}