.header {
  padding: 60px 0;

  @include tablet {
    padding: 30px 0;
  }

  @include mobile {
    padding: 15px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    margin-right: calc($ui-step * 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}