.hero {
  &__inner {
    min-height: 61vh;
    display: flex;
    align-items: center;
    background-position: right center;
    background-size: 560px 660px;
    background-repeat: no-repeat;
  }

  &__content {
    width: 100%;
    max-width: 450px;
  }

  &__title {
    font-size: 66px;
    text-transform: uppercase;
  }

  &__title-accent {
    margin-bottom: calc($ui-step * 4);
    display: inherit;
    color: $color-accent;
  }

  &__text {
    margin-bottom: calc($ui-step * 4);
    display: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-transform: initial;
    color: $color-primary;
  }

  &__list-link {
    display: flex;
  }

  &__item-link {
    &:not(:last-child) {
      margin-right: calc($ui-step * 7);
    }
  }

  &__link {
    color: $color-secondary;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:focus:not(:active) {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }
  }
}