.restaurant {
  &__title {
    margin-bottom: calc($ui-step * 9);
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__item {
    grid-column: 4 span;
  }
}